<ul>
  <li> <%= "Genre: #{@movie_details[0]["genre"]}" %> </li>
  <br>
  <li> <%= "Studio: #{@movie_details[0]["studio"]}" %> </li>
</ul>

<%@movie_details.each do |detail| %>
<ul>
<li>
<%= "#{detail["actor"]}" %>
<br>
<%= "As \"#{detail["character"]}\"" %>

</li>
</ul>
<% end %>
